        body {
            font-family: "Open Sans", sans-serif;
            background-color: #1f2937;
            margin: 0;
            padding: 0;
        }

        .custom-title {
            text-align: left;
            font-size: 22px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .container {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 6px;
          max-width: 1250px;
          margin: 15px auto 0; /* Margin bueno we 🔥 */
          padding: 0 10px; /* ← izquierda y derecha */
        }


        @media (max-width: 768px) {
        .container {
          grid-template-columns: repeat(3, 1fr); /* 3 columnas en móvil */
          gap: 6px;
          padding: 8px;
         }
        }


        .card {
          background: white;
          border-radius: 6px;
          overflow: hidden;
          text-decoration: none;
          color: #333;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
          transition: transform 0.2s ease;
        }

        .card:hover {
          transform: translateY(-4px);
        }
        .card-badge {
          position: absolute;
          top: 2%;
          left: 3%;
          background: #03a9f4;
          color: white;
          font-size: 10.4px;
          font-weight: 700;
          padding: 0px 6.4px 0.8px;
          border-radius: 999px; /* píldora redonda */
          display: inline-flex;
          align-items: center;
          justify-content: center;

        }


        .card-content {
          padding: 1px 8px 8px 8px; /* menos padding arriba */
          font-size: 13px;
          text-align: left;
          font-weight: bold;
        }

        .card-content h3 {
            font-size: 13px;
            margin: 0;
        }

    .barra-superior {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #00aeff;
      color: white;
      padding: 8px 10px;
      position: relative;
      z-index: 1; max-width: 1250px;
    }

    .barra-superior .izquierda {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      white-space: nowrap;
      margin-left: 3px;
    }

    .barra-superior .izquierda i {
      margin-right: 6px;
      font-size: 18px;
    }

    .barra-superior .derecha {
      position: relative;
    }

    .Generos {
      background-color: #ffffff;
      color: #00B0FF;
      font-weight: bold;
      padding: 10px 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Rubik', sans-serif;
      font-size: 13px;
      transition: background-color 0.3s;
      white-space: nowrap;
    }

    .Generos:hover {
      background-color: #e0f7ff;
    }

    .contenido-acordeon {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #ffffff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 1px 0;
      margin-top: 6px;
      border-radius: 4px;
      min-width: 180px;
      z-index: 2;
      max-height: 210px;
      overflow-y: auto;
    }

    .contenido-acordeon a {
      display: block;
      padding: 10px 16px;
      color: #333;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Rubik', sans-serif;
      border-bottom: 1px solid #e0e0e0;
    }

    .contenido-acordeon a:last-child {
      border-bottom: none;
    }

    .contenido-acordeon a:hover {
      background-color: #f0f9ff;
    }

    /* Scroll fino */
    .contenido-acordeon::-webkit-scrollbar {
      width: 6px;
    }

    .contenido-acordeon::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 4px;
    }
       body.no-scroll {
        overflow: hidden;
        touch-action: none;
      }
#paginacion {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
#paginacion a {
  margin: 4px;
  padding: 6px 12px;
  border-radius: 6px;
  background: white;       /* 🔥 blanco normal */
  color: #333;
  text-decoration: none;
  transition: 0.2s;
  border: 1px solid black; /* 🔥 borde negro */
}

/* 🔥 hover */
#paginacion a:hover {
  background: #7c3aed;     /* morado */
  color: white;
}

/* 🔥 página activa */
#paginacion a.active {
  background: #7c3aed;     /* mismo morado */
  color: white;
  font-weight: bold;
}
#paginacion span {
  margin: 4px;
  padding: 6px 10px;
  color: #666;
}
